@page "/Cart"
@using Eshop.Services
@using Eshop.Lib.Interfaces
@using Microsoft.AspNetCore.Identity
@inject ICartService CartService
@inject IHttpContextAccessor Context
@rendermode InteractiveServer

<h3>Cart</h3>
<div>
    @foreach (var item in CartService.GetItems(Context.HttpContext.User))
    {
        <ProductInCartComponent CartItem="item"></ProductInCartComponent>
    }
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            CartService.OnCartChanged += CartServiceOnOnCartChanged;
        }
    }

    private void CartServiceOnOnCartChanged()
    {
        StateHasChanged();
    }

}

