@page "/"
@using Eshop.Models
@using Eshop.Lib.Interfaces
@inject IProductService ProductService
@inject ICartService CartService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="row">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="col-4">
            <ProductComponent Product="product"></ProductComponent>
        </div>
    }
</div>

@code
{
    private ProductInCart? _lastAdded;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            CartService.OnAddedItem += CartServiceOnAddedItem;
        }
    }

    private void CartServiceOnAddedItem(ProductInCart item)
    {
        _lastAdded = item;
        
        StateHasChanged();
    }
}
