/.idea/.idea.Eshop/.idea/.gitignore
/.idea/.idea.Eshop/.idea/.name
/.idea/.idea.Eshop/.idea/dataSources.xml
/.idea/.idea.Eshop/.idea/encodings.xml
/.idea/.idea.Eshop/.idea/indexLayout.xml
/.idea/.idea.Eshop/.idea/vcs.xml
