@using Eshop.Models
@using Eshop.Lib.Interfaces
@using Microsoft.AspNetCore.Identity
@inject ICartService CartService
@inject IHttpContextAccessor Context

<b>@Product.Name</b>
<img class="img-fluid" src="@Product.ImageLink"/>

<input type="number" @bind="count" class="form-control"/>

<button class="btn" @onclick="AddToCard">Add</button>

@code {
    [Parameter] public Product Product { get; set; }
    private int count = 1;

    private void AddToCard()
    {
        CartService.Add(Product, count,Context.HttpContext.User);
    }

}