@using Eshop.Models
@using Eshop.Services
@inject CartService CartService

<b>@CartItem.Product.Name</b>
<img class="img-fluid" src="@CartItem.Product.ImageLink"/>
@* <input type="number" @onchange="@ChangeCount" @bind="_count" class="form-control"/> *@
<InputNumber TValue="int" Value="CartItem.Count" ValueExpression="() => CartItem.Count" ValueChanged="(value) => ChangeCount(value)" Placeholder="Enter price" />
<button class="btn btn-danger" @onclick="RemoveFromCard">X</button>

@code {
    [Parameter] public ProductInCart CartItem { get; set; }
     
    private void RemoveFromCard()
    {
        CartService.Remove(CartItem.Product.Id);
    }

    private void ChangeCount(int value)
    {
        CartService.ChangeCount(CartItem.Product, value);
    }

}